[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = ~/.ssh/id_rsa.ppk
[core]
  sshCommand = 'C:\\WINDOWS\\System32\\OpenSSH\\ssh.exe'
  editor = code --wait
  ignorecase = false
  autocrlf = input
[push]
  autoSetupRemote = true
[pull]
  ff = only
[rebase]
  autoStash = true
  updateRefs = true
[http]
  sslBackend = schannel
  sslVerify = true
[merge]
  tool = vscode
[gpg]
        format = ssh
[commit]
        gpgsign = true
