Import-Module posh-git

$GitPromptSettings.DefaultPromptPrefix = 'PS '
$GitPromptSettings.DefaultPromptAbbreviateHomeDirectory = $true

Set-Alias -Name g -Value git
Set-Alias -Name gs -Value 'git status'
Set-Alias -Name ga -Value 'git add'
Set-Alias -Name gaa 'git add --all'
Set-Alias -Name k -Value kubectl
Set-Alias -Name tf -Value terraform


function AzSubscriptionSet {
  param(
    [string]$subscriptionName
  )
  az account set --subscription $subscriptionName
}

function Set-WindowTitle {
    $host.UI.RawUI.WindowTitle = (Get-Location).Path | Split-Path -Leaf
}
$OldPrompt = $function:prompt

function prompt {
    Set-WindowTitle
    if ($OldPrompt) { & $OldPrompt }
    return ''
}
